@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global fonts and styling */
:root {
  font-family: 'Inter', sans-serif;
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-neutral-50 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-50;
  min-height: 100vh;
}

a {
  @apply text-accent hover:underline;
}